name: Deploy to GitHub Pages

on:
  push:
    branches: ["master"]
  workflow_dispatch:  # Allows manual trigger

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm ci --legacy-peer-deps

      - run: npm run build -- --configuration production

      - name: Copy index.html to 404.html (Fix SPA routing)
        run: cp dist/pos-prject/browser/index.html 

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist/pos-prject/browser  # Replace with your app name

      - uses: actions/deploy-pages@v4